<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Source for tech news</p>
    </div>
</div>

<div class="container new-articles"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/assets/javascript/index.js"></script>